{% extends 'layouts/base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
<main role="main">
     <section > 
            <div class="container">
                <div class="row" >
                    <div class="col-md-4 offset-md-2 ">
                        <div class="portrait">
                            <img  src="https://images.squarespace-cdn.com/content/v1/55c4ce5ee4b026fd99444e90/1454598109899-FE6VJNMG898SQYF2GY0I/ke17ZwdGBToddI8pDm48kFcjIIX1FKcdO91v_2sr_2x7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USW_WVzW7aVXo2Ry4s1rbuMMhsaMdDaYTr6tab37c5BbKULy2O2411SvyKR8oCtcyw/SpaccaNapoli_Int_13056.jpg?format=500w" />
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-1 ">
                        <p>
                        John's of Bleecker Street was founded in 1929 by Italian immigrant John Sasso. John's was Originally established on Sullivan Street, in the Heart of Greenwich Village. After losing his lease on Sullivan Street, John Sasso dismantled his original coal fired brick oven and moved it to 278 Bleecker Street where he continued to run and grow his business and refine his pizza recipe to perfection. Sasso ran his business until 1954 when he sold the pizzeria to the Vesce Brothers. Augustine (Chubby) Vesce bought the business from his brothers and he continued to own and operate John's pizzeria until he passed away in 1984, passing his legacy on.
                        </p>
                    </div>
                </div>
            </div>
        </section>    
        </main>   
{% endblock %}
