{% extends 'layouts/base.html.twig' %}

{% block title %}Hull Pizza
{% endblock %}

{% block body %}

	<main role="main" id="swup" class="transition-fade" >
    <section class="hero">
        <div class="container">
            <div class="col-md-8 pl-0">
                <div class="hero__ctn mx-auto ml-md-0">
                    <div class="hero__title d-flex flex-column align-items-center align-items-md-start">
                        <span class="hero__title__name">HULL PIZZA</span>
                        <p class="hero__title__accroche">Livraison gratuite et rapide</p>
                    </div>
                    <div class="hero__horaires d-flex flex-md-row flex-column align-items-md-start justify-content-center justify-content-md-between" >
                    <ul class="hero__horaires__ctn text-md-left text-center">
                    <li><span class="hero__horaires__day">Lundi, mardi :</span> 4pm - 10pm</li>
                    <li><span class="hero__horaires__day">Mercredi :</span> 11am - 11:30pm</li>
                    <li><span class="hero__horaires__day">Jeudi :</span> 11am - 12:30am</li>
                    </ul>
                    <ul class="hero__horaires__ctn text-md-left text-center">
                    <li><span class="hero__horaires__day">Vendredi :</span> 11am - 12:30am</li>
                    <li><span class="hero__horaires__day">Samedi :</span> 3pm - 12am</li>
                    <li><span class="hero__horaires__day">Dimanche :</span> 4pm - 9pm</li>
                    </ul>
                    </div>
                </div>
            </div>
    </section>
    <section>
    	<div class="container d-flex">
			<h1>
				<div class="hideh1"></div>
				<span>Spéciaux</span>
			</h1>
		</div>
		<section class="sectionbg2">
				<div class="container">
					<div class="row">
                   {# CALL THE SLIDER #}
                    </div>
        </div>
        </section>
    </section>
		
	</main>


{% endblock %}
