{% extends 'layouts/base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	
	<main role="main">
        <div class="container d-flex">
            <h1><span>PIZZAS</span></h1>
        </div>
        <div class="row">
            <div class="col col-2">
            {{ include('components/productCard.html.twig') }}
            </div>
        </div>
	</main>



{% endblock %}
