<footer>
    <section class="footer-ctn fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="footctn col-md-3 my-2 my-md-0 footer__about d-flex flex-column justify-content-center text-center text-md-left ">
                    <p class="brand fw-bold mb-1">HULL PIZZA</p>
                    <p class="copyright mb-1">All content reserved to ©Hull Pizza</p>
                    <p class="agency">Website designed and develloped by <a href="">The Agency</a></p>
                </div>
                <div class="footctn col-md-6 footer__rs d-flex justify-content-center align-items-center">
                <ul class="m-0 p-0" >
                    <li class="d-inline mr-2"><a  href="">
                            <i class="fab fa-facebook"></i></i>
                        </a> 
                    </li>
                   <li class="d-inline mr-2"><a  href="">
                            <i class="fab fa-instagram"></i>
                        </a> 
                    </li>
                    <li class="d-inline"><a  href="">
                            <i class="fab fa-twitter"></i>
                        </a> 
                    </li> 
                </ul>
                </div>
                <div class="footctn col-md-3 footer__phone d-flex justify-content-center flex-column align-items-center mt-4 mt-md-0 text-center text-md-left">
                <p class="mb-1 ">Contact us :</p>
                    <a class="d-flex align-items-center" href="">
                        <i class="fas fa-phone-volume"></i>
                        <span>819-777-6666</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>