<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Hull Pizza
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
	</head>
	<body data-controller="@symfony/ux-swup/swup" >

		<header>
			<nav class="navbar navbar-expand-lg">
				<div class="container d-flex justify-content-between">
					<a class="navbar-brand" href="/">HULL PIZZA</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/menus">Menuss</a>
							</li> 
							<li class="nav-item">
								<a class="nav-link" href="/about">About us</a>
							</li>
						</ul>
						<div class="infos d-flex align-items-center">  
							<div>
								<a class="d-flex align-items-center" href="">
									<i class="fas fa-phone-volume"></i>
									<span>819-777-6666</span>
								</a>
							</div>
							<div>
								<a class="d-flex align-items-center" href="">
									<i class="fas fa-map-marker-alt"></i>
									<span>530, Boul. St-Joseph Blvd</span>
								</a>
							</div>
							<div>
								<div class="language-img"><img src="https://karucocoparc.com/wp-content/uploads/2017/12/en.png"/></div>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
