<article class="productCard">
    <h3 class="productCard__name">Product name</h3>
    <img class="productCard__img" src="" alt=""/>
    <p class="productCard__ingredients">Pizza, fromage</p>
    <div class="productCard__price">18$</div>
    <div class="productCard__diet">
        <div class="productCard__diet--vege"></div>
        <div class="productCard__diet--vegan"></div>
        <div class="productCard__diet--gluten"></div>
    </div>

</article>
