<article class="productCard d-flex flex-column justify-content-between">
    <h3 class="productCard__name">Hawaienne</h3>
    <img class="productCard__img" src="{{ asset('imgs/pizza.png') }}" alt=""/>
    <p class="productCard__ingredients">Sauce tomate à l'origan, mozzarella, filet de poulet rôti et mariné, tomates fraîches, parmigiano reggiano AOP
    </p>
    <div class="productCard__price"><span>18$</span></div>
    <div class="productCard__diet">
        <div class="productCard__diet--vege"></div>
        <div class="productCard__diet--vegan"></div>
        <div class="productCard__diet--gluten"></div>
    </div>

</article>
